@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

:root {
  --shadow: #0a201b;
  --delay: 1.5s;
}

*, *:before, *:after {
  position: absolute;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  perspective: 100vmin;
}

body:before, body:after {
  width: 94vmin;
  top: 15vmin;
  text-align: left;